body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    /* background-image: url(https://cdn.pixabay.com/photo/2020/01/31/07/53/man-4807395_960_720.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(169, 172, 174, 0.083); */
    margin: auto;
    width: 70%;
    border-radius: 15px;
    padding: 10px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.loop{
    margin:10px;
    background-color: #ffffffba;
    border-radius: 10px;
    width: 70%;
    display: flex;
    
}.title{
    width: 70%;
}
@media screen and (max-width: 1000px){
    .container{
        width: 85%;
    }
    .title{
        width: 60%;
    }

    .loop{
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        display: block;

    }
    .loop{
        width: 90%;
    }
    .title{
        width: 250px;
    }
}

@media screen and (max-width: 429px) and (min-width: 350px) {
    .container{
        width: 100%;
        display: block;

    }
    .loop{
        width: 93%;
    }
    .title{
        width: 224px;
        margin-left: -40px;
    }
}
.img{
    margin:5px;
    width: 80px;
}
.p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}